* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.5rem;
    font-family: "Ubuntu", sans-serif;
}

h1 {
    position: fixed;
    top: 0;
    width: 100%;
    color: black;
    font-family: "Kanit", sans-serif;
    text-align: center;
    background-color: skyblue;
    height: 60px;
}

p {
    margin: 0 2rem;
}

img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 6rem auto 2rem auto;
}

button {
    display: block;
    margin: 2rem auto;
    font: inherit;
    background: blue;
    border-radius: 1.5rem;
    width: 400px;
    height: 50px;
}

footer {
    background: skyblue;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
}